.services-container{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.img-container{
	width: 50%;
}
.text-container{
	display: block;
	width: 50%;
	margin-top: auto;
	margin-bottom: auto;
}
#squareImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%
}

/* FOR TABLETS */
@media (max-width: 1024px) {
	.services-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.text-container{
		margin-top: 10px;
		text-align: center;
	}
}

/* FOR PHONES */
@media (max-width: 480px) {
	.img-container{
		width: 80%;
	}
	.text-container{
		width: 80%;
	}
}