.brown-background{
	background: #8D6369;
}

/* FOR TABLETS */
@media (max-width: 1024px) {
	.reverse{
		display: flex !important;
		flex-direction: column-reverse !important;
	}
}

/* FOR PHONES */
@media (max-width: 480px) {

}