.brown-background{
	background: #8D6369;
}
#contactIcons{
	width: auto;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.contact-container{
	width: 50%;
	display: flex;
	flex-direction: row;
	padding: 100px;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: auto;
}
a{
	text-align: center;
}
/* FOR TABLETS */
@media (max-width: 1024px) {
	.reverse{
		display: flex !important;
		flex-direction: column-reverse !important;
	}
	.contact-container{
		padding: 0;
		flex-direction: column;
	}
}

/* FOR PHONES */
@media (max-width: 480px) {
	.contact-container{
		display: flex;
		flex-direction: column;
	}
}