/* FOR DESKTOPS */
body{
	background: #FFFBF5;
}
.navbar{
	display: flex;
	height: 5vh;
	width: 100%;
	left: 0;
	right: 0;
}
.navbar-container{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 30%;
	right: 30%;
	top: 5%;
}
.navbar-items{
	font-size: 1.25em;
}
.hamburger-icon{
	display: none;
}

/* FOR TABLETS */
@media (max-width: 1024px) {
	.navbar-container{
		left: 20%;
		right: 20%;
	}
}

/* FOR PHONES */
@media (max-width: 480px) {
	.hamburger-wrapper{
		width: 100%;
		z-index: -1;
		height: 5vh;
	}
	.hamburger-icon{
		display: flex;
		position: fixed;
		right: 0;
		margin: 10px;
		cursor: pointer;
		z-index: 2;
		font-size: 1.25em;
		padding: 5px;
		background: white;
		border-radius: 50px;
	}
	.navbar{
		z-index: 1;
	}
	.navbar-container{
		position: fixed;
		display: flex;
		top: -100%;
		flex-direction: column;
		margin: 0;
		background: white;
		left: 0;
		right: 0;
		padding: 10px;
		z-index: 1;
	}
	.navbar-container-show{
		display: flex;
		top: 0;
		flex-direction: column;
		background: white;
		left: 0;
		right: 0;
		padding: 10px;
		z-index: 1;
		box-shadow: grey 0 1px 1px 0;
		border: round;
	}
	.navbar-container, .navbar-container-show{
		-webkit-transition: top 0.5s ease;
		-moz-transition: top 0.5s ease;
		transition: top 0.5s ease;
	}
	.navbar-items{
		display: flex;
	  justify-content: center;
	  width: 100%;
	  text-align: center;
	  margin-top: 10px;
	}
	.navbar-items:first-child{
		padding-top: 5vh;
	}
}